# NOTE: This is an example of the .env file. You need to create a .env file in the same directory and fill in the values.
# --- Hugging Face Token ---
HF_TOKEN = #{your Hugging Face token}
# --- API Keys ---
GEMINI_API_KEY = #{your Gemini API key}
# --- Directories ---
EXPERIMENTS_DIR = #{path to your experiments directory}
# --- PadChest-GR ---
PADCHEST_GR_GROUNDED_REPORTS_JSON_PATH = #{path to your grounded reports json file}
PADCHEST_GR_MASTER_TABLE_CSV_PATH = #{path to your master table csv file}
PADCHEST_GR_JPG_DIR = #{path to your jpg directory}
PADCHEST_GR_PROGRESSION_PRIOR_STUDIES_JPG_DIR = #{path to your progression prior studies jpg directory}
# --- MIMIC-CXR ---
MIMIC_CXR_METADATA_CSV_PATH = #{path to your MIMIC-CXR metadata csv file}
MIMIC_CXR_SPLIT_CSV_PATH = #{path to your MIMIC-CXR split csv file}
MIMIC_CXR_POSTPROCESSED_REPORTS_JSON_PATH = #{path to your postprocessed reports json file}
MIMIC_CXR_IMAGES_DIR = #{path to your MIMIC-CXR images directory}
# --- MS-CXR ---
MS_CXR_LOCAL_ALIGNMENT_V1.1.0_CSV_PATH = #{path to your MS-CXR local alignment csv file}
# --- Chest ImaGenome ---
CHEST_IMAGENOME_LOCATION_REPORT_SNIPPETS_PATH = #{path to your chest imagenome location report snippets path}
# --- VinDr-CXR ---
VINDRCXR_ANNOTATIONS_DIR = #{path to your vindr-cxr annotations directory}
VINDRCXR_TRAIN_JPG_DIR = #{path to your vindr-cxr train jpg directory}
VINDRCXR_TEST_JPG_DIR = #{path to your vindr-cxr test jpg directory}
# --- Gemini Annotations ---
GEMINI_2_5_FLASH_LITE_MIMIC_CXR_ANATOMY_SPECIFIC_REPORTS_JSONL_PATH = #{path to your gemini 2.5 flash lite mimic cxr anatomy specific reports jsonl file}
GEMINI_2_5_FLASH_LITE_ANNOTATED_MINI_REPORTS_JSONL_PATH = #{path to your gemini 2.5 flash lite annotated mini reports jsonl file}
# --- Other ---
NO_ALBUMENTATIONS_UPDATE = 1 # Set to 1 to avoid albumentations update warnings